{% extends 'base.html.twig' %}

{% block title %}New Annonces{% endblock %}

{% block body %}
<br><br><br><br><br>
    <h1 class="text-center">Créer une nouvelle Annonce</h1>

    {{ include('annonces/_form.html.twig') }}

    
{% endblock %}
