{% extends 'base.html.twig' %}

{% block title %}Edit Propertys{% endblock %}

{% block body %}
    <h1>Edit Propertys</h1>

    {{ include('propertys/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_propertys_index') }}">back to list</a>

    {{ include('propertys/_delete_form.html.twig') }}
{% endblock %}
